@use '../abstracts/variables';

.footer {
  min-height: var(--footer-height);
  padding: 30px var(--spacing-md);
  border-top: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: var(--color-text-primary);
    margin-bottom: var(--spacing-sm);
  }

  &__text {
    color: var(--color-text-secondary);
  }
}
