// Abstracts
@use './abstracts/variables';
@use './abstracts/mixins';

// Base
@use './base/reset';
@use './base/typography';

// Components
@use './components/header';
@use './components/footer';
@use './components/layout';
@use './components/hero';
@use './components/services';
@use './components/whychoose';
@use './components/contact';
@use './components/button';

// Pages
@use './pages/home';

.app {
  min-height: 100vh;
}
