@use '../../../styles/abstracts/variables';

.hero {
  min-height: var(--hero-height);
  padding: 80px var(--spacing-md);
  border: 1px solid var(--color-border);
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: var(--spacing-md);

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: var(--color-text-primary);
    margin-bottom: var(--spacing-md);
  }

  &__subtitle {
    font-size: 1rem;
    color: var(--color-text-secondary);
    padding: 0 var(--spacing-md);
  }
}