@use '../../../styles/abstracts/variables';

.why-choose {
  min-height: var(--why-choose-height);
  margin: 0 var(--spacing-md) var(--spacing-md) var(--spacing-md);
  padding: var(--spacing-lg);
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: var(--color-text-primary);
    margin-bottom: var(--spacing-md);
  }

  &__subtitle {
    font-size: 1rem;
    color: var(--color-text-secondary);
    padding: 0 var(--spacing-md);
  }
}