* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  line-height: 1.6;
}
